* {
    padding: 0;
    margin: 0;
    /* @import url(https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap); */
}

body {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items:  center;
    background-color: rgb(212, 212, 212);

}

figure {
    width: 100%;
}

figure > img {
    width: 100%;
    height: 340px;
    


}

header {
    width: 1000px;
    height: 450px;
    

    background-color: #BB7B00;
    margin-top: -300px;
    display: flex;
    flex-direction: row;

}

.headerName {
    width: 600px;
}

.headerImage {
    width: 400px;
    
}
.imagemPerfil {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    
    margin-top: 60px;
    margin-left: 20px;
    object-fit: cover;


}
.nomePerfil {
    color: white;
    width: 500;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
}

.nomePerfil > h1 {
    color: black;
}

.iconBox {
    width: 200px;
    height: 200px;
    margin-top: 90px;
    margin-left: 50px;
    gap: 200px;
    
}

.boxIcon {
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 15px;
    align-items: center;
    font-size: 20px;
    color: white;
    
}

.imageIcon {
    width: 40px;
    height: 40ox;
   
}

.sobreMim {
    width: 1000px;
    height: 450px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.myHistory {
    background-color: white;
    width: 800px;
    height: 350px;
           
}
.myHistory > h2 {
    text-align: center;
    text-decoration: underline wavy;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;

}
.myHistory > p {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}
.download {
    margin-top: 25px;
}
.download > button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #BB7B00;
    border: 1px;

}
.courseHistory {
    width: 1100px;
    height: 2000px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.courseTitle {
    width: 350px;
    height: 100px;
    /* background-color: white; */
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    

}
.courseTitle > img {
    width: 80px;
    height: 80px;
    
}
.courseTitle > h2 {
    font-size: 50px;

}

.verticalLine {
    width: 5px;
    height: 910px;
    /* border-right: 1px solid red; */
    background-color: black;
    margin-top: 250px;
}

.course1 {
    width: 350px;
    height: 250px;
    background-color: white;
    margin-top: -1050px;
    margin-right: 635px;
    
}
.containerIcon {
    width: 50px;
    height: 20px;
    background-color: aqua;
}

.containerInstitute {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
.documentIcon {
    width: 10px;
    height: 10px;
    background-color: aqua;

}
.universityIcon {
    width: 30px;
    height: 30px;
}
.course1 > div {
    width: 150px;
    height: 45px;
    background-color: rgb(92, 92, 184);
    box-shadow: 5px 8px 12px gray;
    /* position: absolute; */
    margin-top: 10px;
    margin-left: -15px;
}
.course1 > div ::after {
    content: "";
    position: absolute;
    border-style: solid;
    /* bottom: 0;
    right: 0; */
    border-top-width: 15px;
    border-left-width: 15px;
    border-top-color: rgb(56, 56, 114) ;
    border-left-color:transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    margin-top: 45px;
}

.horizontalLine1 {
    width: 145px;
    height: 5px;
    background-color: black;
    /* border: 1px solid #000; */
    margin-top: -115px;
    margin-left: -140px;
}

.course2 {
    width: 350px;
    height: 250px;
    background-color: white;
    margin-top: -50px;
    margin-left: 635px;    
}
.course2 > div {
    width: 150px;
    height: 45px;
    background-color:  rgb(84, 84, 167);
    box-shadow: 5px 8px 12px gray;
    margin-top: 10px;
    margin-left: -15px;
}
.course2 > div ::after {
    content: "";
    position: absolute;
    border-style: solid;
    /* bottom: 0;
    right: 0; */
    border-top-width: 15px;
    border-left-width: 15px;
    border-top-color: rgb(56, 56, 114) ;
    border-left-color:transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    margin-top: 45px;
}
.horizontalLine2 {
    width: 145px;
    height: 5px;
    background-color: black;
    /* border: 1px solid #000; */
    margin-top: -115px;
    margin-left: 140px;
}
.course3 {
    width: 350px;
    height: 250px;
    background-color: white;
    margin-top: 180px;
    margin-right: 635px;

}

.course3 > div {
    width: 150px;
    height: 45px;
    background-color:  rgb(84, 84, 167);
    box-shadow: 5px 8px 12px gray;
    margin-top: 10px;
    margin-left: -15px;
}
.course3 > div ::after {
    content: "";
    position: absolute;
    border-style: solid;
    /* bottom: 0;
    right: 0; */
    border-top-width: 15px;
    border-left-width: 15px;
    border-top-color: rgb(56, 56, 114) ;
    border-left-color:transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    margin-top: 45px;
}

.horizontalLine3 {
    width: 145px;
    height: 5px;
    background-color: black;
    /* border: 1px solid #000; */
    margin-top: -115px;
    margin-left: -140px;
}
.course4 {
    width: 350px;
    height: 250px;
    background-color: white;
    margin-top: -50px;
    margin-left: 635px;

}

.course4 > div {
    width: 150px;
    height: 45px;
    background-color:  rgb(84, 84, 167);
    box-shadow: 5px 8px 12px gray;
    margin-top: 10px;
    margin-left: -15px;
}
.course4 > div ::after {
    content: "";
    position: absolute;
    border-style: solid;
    /* bottom: 0;
    right: 0; */
    border-top-width: 15px;
    border-left-width: 15px;
    border-top-color: rgb(56, 56, 114) ;
    border-left-color:transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    margin-top: 45px;
}
.horizontalLine4 {
    width: 145px;
    height: 5px;
    background-color: black;
    /* border: 1px solid #000; */
    margin-top: -115px;
    margin-left: 140px;
}
.course5 {
    width: 350px;
    height: 250px;
    background-color: white;
    margin-top: 180px;
    margin-right: 635px;

}

.course5 > div {
    width: 150px;
    height: 45px;
    background-color:  rgb(84, 84, 167);
    box-shadow: 5px 8px 12px gray;
    margin-top: 10px;
    margin-left: -15px;
}
.course5 > div ::after {
    content: "";
    position: absolute;
    border-style: solid;
    /* bottom: 0;
    right: 0; */
    border-top-width: 15px;
    border-left-width: 15px;
    border-top-color: rgb(56, 56, 114) ;
    border-left-color:transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    margin-top: 45px;
}

.horizontalLine5 {
    width: 145px;
    height: 5px;
    background-color: black;
    /* border: 1px solid #000; */
    margin-top: -115px;
    margin-left: -140px;
}
.course6 {
    width: 350px;
    height: 250px;
    background-color: white;
    margin-top: -50px;
    margin-left: 635px;
}
.course6 > div {
    width: 150px;
    height: 45px;
    background-color: rgb(84, 84, 167);
    box-shadow: 5px 8px 12px gray;
    margin-top: 10px;
    margin-left: -15px;
}
.course6 > div ::after {
    content: "";
    position: absolute;
    border-style: solid;
    /* bottom: 0;
    right: 0; */
    border-top-width: 15px;
    border-left-width: 15px;
    border-top-color: rgb(56, 56, 114) ;
    border-left-color:transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    margin-top: 45px;
}

.horizontalLine6 {
    width: 145px;
    height: 5px;
    background-color: black;
    /* border: 1px solid #000; */
    margin-top: -115px;
    margin-left: 140px;
}

.containerGit {
    width: 500px;
    height: 100px;
    background-color: #BB7B00;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

.containerGit > h2 {
    margin-top: 10px;
    
}

.containerGit > button {
    width: 150px;
    height: 30px;
    border-radius: 50px;
    background-color: black;
    color: white;
    margin-top: 10px;
}
footer {
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}