* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items:  center;

}

figure {
    width: 100%;
    height: 340px;

    background-color: purple;

}
.imageTop {
    width: auto;
    height: 340px;
}
header {
    width: 1000px;
    height: 450px;
    

    background-color: orange;
    
   margin-top: -200px;


}